.wrapper-4{
    background-image: url('../../images/wrapper-4.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0 170px;
}

.system__strong{
    display: block;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}

.system__title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px 0 130px;
    text-align: center;
}

.system__content{
    max-width: 574px;
    width: 100%;
}


// ----> Content_1

.system__content1{
    display: flex;
    align-items: center;
}

// ----> Line_1

.system__content1-line1{
    border: 1px solid #979797;
    padding: 15px 31px 30px 15px;
}

.system__content1-line1--title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin: 0;
}

.system__content1-line1--text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 7px 0 0;
}

// ----> Line_2

.system__content1-line2{
    border: 1px solid #979797;
    border-left: 0;
    padding: 15px 15px 30px 15px;
    border-top-right-radius: 30px;
}

.system__content1-line2--title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin: 0;
}

.system__content1-line2--text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 7px 0 0;
}


// ----> Content_2

.system__content2{
    display: flex;
    align-items: center;
}

// ----> Line_1

.system__content2-line1{
    border: 1px solid #979797;
    border-top: 0px;
    border-bottom: 0px;
    padding: 15px 191.5px 30px 15px;
}

.system__content2-line1--title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin: 0;
}

.system__content2-line1--text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 7px 0 0;
}

// ----> Line_2

.system__content2-line2{
    border: 1px solid #979797;
    border-left: 0;
    border-top: 0px;
    border-bottom: 0px;
    padding: 15px 95px 30px 15px;
}

.system__content2-line2--title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin: 0;
}

.system__content2-line2--text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 7px 0 0;
}


// ----> Content_3

// ----> Line_1

.system__content3-line1{
    border: 1px solid #979797;
    padding: 15px 0px 30px 15px;
    border-bottom-left-radius: 30px;
}

.system__content3-line1--title{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin: 0;
}

.system__content3-line1--text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 7px 0 0;
}


// --------------> Responsive part

@media only screen and (max-width: 620px) {
    
    .wrapper-4{
        background-image: url('../../images/wrapper-4-mobile.jpg');
        background-attachment: local;
        background-position: center center;
        background-size: cover;
        padding: 30px 0 200px;
    }
    
    .system__strong{
        font-size: 18px;
        line-height: 18px;
    }
    
    .system__title{
        font-size: 33px;
        line-height: 33px;
        margin: 8px 0 80px;
    }
    
    .system__content{
        width: 100%;
    }
    
    
    // ----> Content_1
    
    .system__content1{
        flex-direction: column;
        justify-content: center;
    }
    
    // ----> Line_1
    
    .system__content1-line1{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 15px 20px 30px 10px;
    }
    
    .system__content1-line1--title{
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2px;
        margin: 0 0 0 15px;
    }
    
    .system__content1-line1--text{
        font-size: 14px;
        line-height: 16px;
        margin: 7px 0 0 15px;
    }
    
    // ----> Line_2
    
    .system__content1-line2{
        border: 1px solid #979797;
        border-top-right-radius: 0;
        border-top: 0;
        padding: 15px 16px 30px 23px;
    }
    
    .system__content1-line2--title{
        font-size: 18px;
        line-height: 18px;
    }
    
    .system__content1-line2--text{
        font-size: 14px;
        line-height: 16px;
    }
    
    
    // ----> Content_2
    
    .system__content2{
        flex-direction: column;
        justify-content: center;
    }
    
    // ----> Line_1
    
    .system__content2-line1{
        border: 1px solid #979797;
        border-top: 0px;
        padding: 15px 145px 30px 10px;
    }
    
    .system__content2-line1--title{
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 0 15px;
    }
    
    .system__content2-line1--text{
        font-size: 14px;
        line-height: 16px;
        margin: 7px 0 0 15px;
    }
    
    // ----> Line_2
    
    .system__content2-line2{
        border: 1px solid #979797;
        border-top: 0px;
        border-bottom: 0px;
        padding: 15px 77px 30px 10px;
    }
    
    .system__content2-line2--title{
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 0 15px;
    }
    
    .system__content2-line2--text{
        font-size: 14px;
        line-height: 16px;
        margin: 7px 0 0 15px;
    }
    
    
    // ----> Content_3
    
    .system__content3{
        max-width: 237px;
        width: 100%;
        margin: 0 auto;
    }
    
    // ----> Line_1
    
    .system__content3-line1{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .system__content3-line1--title{
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 0 10px;
    }
    
    .system__content3-line1--text{
        font-size: 14px;
        line-height: 16px;
        margin: 7px 0 0 10px;
    }
    
}